<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Flask React</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
  </head>
  <body>
    <div class="container">
      <h1>Flask React</h1>
      <br>
      <div id="content"></div>
    </div>
    <!-- scripts -->
    <script src="{{ url_for('static', filename='bower_components/react/react.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.min.js') }}"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script type="text/jsx">

      /*** @jsx React.DOM */

      var realPython = React.createClass({
        render: function() {
          return (<h2>Greetings, from Real Python!</h2>);
        }
      });

      ReactDOM.render(
        React.createElement(realPython, null),
        document.getElementById('content')
      );

    </script>
    <script>

      {% for img in imgs %}
        // create the popup
        var popup = new mapboxgl.Popup()
          .setHTML("<table class='popup-table'>"
                    +  "<th>Max Temp</th>"
                    +  "<th>Min Temp</th>"
                    +  "<th>Average Temp</th>"
                    +  "<tr>"
                        +  "<td>{{ '{0:.2f}'.format(img.maxTemp) }}&deg;C</td>"
                        +  "<td>{{ '{0:.2f}'.format(img.minTemp) }}&deg;C</td>"
                        +  "<td>{{ '{0:.2f}'.format(img.averageTemp) }}&deg;C</td>"
                    +  "</tr>"
                +  "</table>");

        // create DOM element for the marker
        // using a DOM element as default marker color can't be changed
        var el = document.createElement('div');
        el.id = 'marker';

        {% if img.averageTemp >= avg:%}
            el.style.background = 'yellow';
        {% elif img.maxTemp >= 60:%}
            el.style.background = 'red';
        {% endif %}

        var coordinates = [{{img.longitude}}, {{img.latitude}}]
        // create the marker
        new mapboxgl.Marker(el)
          .setLngLat(coordinates)
          .setPopup(popup) // sets a popup on this marker
          .addTo(map);

      {% endfor %}

    </script>
  </body>
</html>
