{% include 'header.html' %}

<!--

Known Bugs: linked stlye.css file was not applying styling so I was focused to
use inline styling.

 -->

  <div id='map' class="col-xs-12" style="width: 100%; height: 600px;"></div>
  <div id='legend'  style="font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;"><h3 style="margin-top: 0;">Legend</h3></div>
  <script type="text/javascript">
    // referenced http://jsfiddle.net/ZFvDV/
    // referenced https://developers.google.com/maps/documentation/javascript/

    //used for closing info windows when another marker is  clicked
    var infos = [];

    // Setting marker icons for map and Legend
    var iconBase = 'http://maps.google.com/mapfiles/ms/icons/';
    var icons = {
      red: {
        name: 'Max Temp > 60&deg;C',
        icon: iconBase + 'red-dot.png'
      },
      blue: {
        name: 'Max Temp < 60&deg;C',
        icon: iconBase + 'blue-dot.png'
      }
    };

    // creating map
    function initMap() {

      // setting map options
      var mapOptions = {
        // center is based on average lat and long position for data set
        center: new google.maps.LatLng({{lat}}, {{long}}),
        // zoom is currently manually set, could be auto set by making it a related to
        // the spread of the data set, ie farther dispearsed dataset would have a lower zoom
        zoom: 15
      };

      // setting map variable with parameters
      var map = new google.maps.Map(document.getElementById("map"),mapOptions);

      // calling setmarkers function to create the markers for the image locations
      setMarkers(map, icons);

      // creating legend
      var legend = document.getElementById('legend');
      for (var key in icons) {
        var type = icons[key];
        var name = type.name;
        var icon = type.icon;
        var div = document.createElement('div');
        div.innerHTML = '<img src="' + icon + '" style="vertical-align: middle;"> ' + name;
        legend.appendChild(div);
      }

      // sets legend on the right bottom of the map
      map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

    }

    // function for createing markers
    function setMarkers(map, icons){

      var color;

      // creating empty array of markers
      var markers = [];

      {% for img in imgs %}

        // Checking for max temp over 60 degrees C, and coloring appropriately
        if ({{img.maxTemp}} >= 60) {
          color = icons['red'].icon;
        } else {
          color = icons['blue'].icon;
        }

        // setting position
        latlngset = new google.maps.LatLng({{img.latitude}}, {{img.longitude}});

        // creating marker
        var marker = new google.maps.Marker({
          map: map,
          icon: color,
          title: '{{img.name}}',
          position: latlngset
        });

        // adding marker to marker array
        markers.push(marker);

        // setting content variable for the InfoWindow
        var content = "<table class='popup-table table'>"
                  +  "<th>Max Temp</th>"
                  +  "<th>Min Temp</th>"
                  +  "<th>Average Temp</th>"
                  +  "<tr>"
                      +  "<td>{{ '{0:.2f}'.format(img.maxTemp) }}&deg;C</td>"
                      +  "<td>{{ '{0:.2f}'.format(img.minTemp) }}&deg;C</td>"
                      +  "<td>{{ '{0:.2f}'.format(img.averageTemp) }}&deg;C</td>"
                  +  "</tr>"
              +  "</table>";

        // creating infowindow variable
        var infowindow = new google.maps.InfoWindow();

        // linking InfoWindow and marker
        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
          return function() {

            /* close the previous info-window */
            closeInfos();

            infowindow.setContent(content);
            infowindow.open(map,marker);

            /* keep the handle, in order to close it on next click event */
            infos[0]=infowindow;

          };
        })(marker,content,infowindow));

      {% endfor %}

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

    }

    // Closing info windows when clicking on new icon
    function closeInfos(){
      if(infos.length > 0){

        /* detach the info-window from the marker ... undocumented in the API docs */
        infos[0].set("marker", null);

        /* and close it */
        infos[0].close();

        /* blank the array */
        infos.length = 0;
      }
    }

  </script>

  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapAPI}}&callback=initMap"></script>



{% include 'footer.html' %}
