{% include 'header.html' %}

  <div id='map' class="col-xs-12" style="width: 90%;"></div>
  <div id='legend'  style="font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;"><h3 style="margin-top: 0;">Legend</h3></div>
  <script type="text/javascript">
    // referenced http://jsfiddle.net/ZFvDV/
    // referenced https://developers.google.com/maps/documentation/javascript/
    var infos = [];
    var iconBase = 'http://maps.google.com/mapfiles/ms/icons/';
    var icons = {
      red: {
        name: 'Max above 60',
        icon: iconBase + 'red-dot.png'
      },
      yellow: {
        name: 'Average above overall average',
        icon: iconBase + 'yellow-dot.png'
      },
      blue: {
        name: 'Default',
        icon: iconBase + 'blue-dot.png'
      }
    };

    function initMap() {

      var mapOptions = {
        center: new google.maps.LatLng({{lat}}, {{long}}),
        zoom: 15
      };

      var map = new google.maps.Map(document.getElementById("map"),mapOptions);

      setMarkers(map, icons);

      var legend = document.getElementById('legend');
      for (var key in icons) {
        var type = icons[key];
        var name = type.name;
        var icon = type.icon;
        var div = document.createElement('div');
        div.innerHTML = '<img src="' + icon + '" style="vertical-align: middle;"> ' + name;
        legend.appendChild(div);
      }

      map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

    }

    // function setMarkers(map,locations){
    function setMarkers(map, icons){

      var marker, i, color;
      var markers = [];

      {% for img in imgs %}

        // Checking for max temp over 60 degrees C
        if ({{img.maxTemp}} >= 60) {
          color = icons['red'].icon;
        } else if ({{img.averageTemp}} > {{avg}}) {
          color = icons['yellow'].icon;
        } else {
          color = icons['blue'].icon;
        }

        latlngset = new google.maps.LatLng({{img.latitude}}, {{img.longitude}});

        var marker = new google.maps.Marker({
          map: map,
          icon: color,
          title: '{{img.name}}',
          position: latlngset
        });

        markers.push(marker);

        map.setCenter(marker.getPosition());


        var content = "<table class='popup-table table'>"
                  +  "<th>Max Temp</th>"
                  +  "<th>Min Temp</th>"
                  +  "<th>Average Temp</th>"
                  +  "<tr>"
                      +  "<td>{{ '{0:.2f}'.format(img.maxTemp) }}&deg;C</td>"
                      +  "<td>{{ '{0:.2f}'.format(img.minTemp) }}&deg;C</td>"
                      +  "<td>{{ '{0:.2f}'.format(img.averageTemp) }}&deg;C</td>"
                  +  "</tr>"
              +  "</table>";

        var infowindow = new google.maps.InfoWindow();


        google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){
          return function() {

            /* close the previous info-window */
            closeInfos();

            infowindow.setContent(content);
            infowindow.open(map,marker);

            /* keep the handle, in order to close it on next click event */
            infos[0]=infowindow;

          };
        })(marker,content,infowindow));

      {% endfor %}

      // Add a marker clusterer to manage the markers.
      var markerCluster = new MarkerClusterer(map, markers,
          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

    }

    // Closing info windows when clicking on new icon
    function closeInfos(){
      if(infos.length > 0){

        /* detach the info-window from the marker ... undocumented in the API docs */
        infos[0].set("marker", null);

        /* and close it */
        infos[0].close();

        /* blank the array */
        infos.length = 0;
      }
    }

  </script>

  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{mapAPI}}&callback=initMap"></script>



{% include 'footer.html' %}
