{% include 'header.html' %}

  <div id='map' class="col-xs-10 col-xs-offset-1"></div>
  <script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          // center based on average lat and long
          center: {lat: {{lat}}, lng: {{long}}}
        });

        // Add some markers to the map.
        // Note: The code uses the JavaScript Array.prototype.map() method to
        // create an array of markers based on a given "locations" array.
        // The map() method here has nothing to do with the Google Maps API.
        var iconBase = 'http://maps.google.com/mapfiles/ms/icons/';
        var markers = [];
        {% for img in imgs %}
            if ({{img.maxTemp}} >= 60) {
              var color = 'red-dot.png';
            } else {
              var color = 'blue-dot.png';
            }
            var marker =  new google.maps.Marker({
                position: {lat: {{img.latitude}}, lng: {{img.longitude}}},
                icon: iconBase + color
            });
            markers.push(marker);
        {% endfor %}

        // Add a marker clusterer to manage the markers.
        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

    }


    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{mapAPI}}&callback=initMap">
    </script>



{% include 'footer.html' %}
