<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>Thermal Picture Analyzer</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:100px; bottom:0; width:75%; }
    </style>
</head>
<body>

  <style>

    #marker {
        background-color: blue;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
    }

    .mapboxgl-popup {
        max-width: 200px;
    }

  </style>

  <h3>Time for some maps</h3>
  <a href="{{url_for('data')}}">Look at the data</a>
  <div id='map'></div>

  <script>
    mapboxgl.accessToken = '{{mapAPI}}';

    // var monument = [-77.0353, 38.8895];
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v9'
        // center: monument,
        // zoom: 10
    });

    {% for img in imgs %}
      // create the popup
      var popup = new mapboxgl.Popup()
        .setHTML("<table>"
                  +  "<th>Max Temp</th>"
                  +  "<th>Min Temp</th>"
                  +  "<th>Average Temp</th>"
                  +  "<tr>"
                      +  "<td>{{img.maxTemp}}</td>"
                      +  "<td>{{img.minTemp}}</td>"
                      +  "<td>{{img.averageTemp}}</td>"
                  +  "</tr>"
              +  "</table>");

      // create DOM element for the marker
      // using a DOM element as default marker color can't be changed
      var el = document.createElement('div');
      el.id = 'marker';

      var coordinates = [{{img.longitude}}, {{img.latitude}}]
      // create the marker
      new mapboxgl.Marker(el)
        .setLngLat(coordinates)
        .setPopup(popup) // sets a popup on this marker
        .addTo(map);

    {% endfor %}

  </script>

</body>
</html>
